* {
  margin: 0;
  padding: 0;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Playwrite US Modern", serif;
  background-image: url(assets/img-25/v627-aew-09-technologybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  header {
    display: flex;
    justify-content: flex-end;
    h1 {
      margin: 5%;
    }
    img {
      width: 12vh;
      height: auto;
      cursor: pointer;
    }
  }
  main {
    display: flex;
    margin: 0;
    img {
      width: 40%;
      opacity: 30%;
    }
  }
  footer {
    padding: 20px 0;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    gap: 20px;
    animation: scroll 10s linear infinite;
    width: max-content;
  }

  .carousel img {
    height: 50px;
    flex-shrink: 0;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
