::selection {
  background-color: rgba(92, 49, 255, 0.99);
  color: #ffffff;
  text-shadow: none;
}

body {
  font-size: 14px;
}

.container.is--hero {
  min-height: auto;
  height: 100vh;
  max-height: 1000px;
}

.hero__icon,
.hero__card-text,
.hero__gradient {
  pointer-events: none;
}

.hero__card {
  backdrop-filter: blur(2em);
  -webkit-backdrop-filter: blur(2em);
}

.hero__card-content {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.main-content {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  background: transparent;
}

.noise {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0.05;
}
