body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  font-size: smaller;
  color: black;
  background-color: rgb(0, 130, 130);
  height: 100vh;
  overflow: hidden;
  ul {
    list-style: none;
  }
}

#presentation {
  display: flex;
  align-items: center;
  margin: 20px 0 0 20px;
  ul {
    list-style: none;
  }
}

.monitor-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

.notepad-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

.document-img {
  width: 70px;
  height: auto;
  margin-right: 10px;
  margin-left: -17px;
  display: block;
  cursor: pointer;
}

.network-img {
  width: 70px;
  height: auto;
  margin-right: 10px;
  margin-left: -17px;
  display: block;
  cursor: pointer;
}

.mail-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

.media_player-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

.paint-img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

#presentation h1 {
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
}

.pix_pic {
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%) translateY(-100%);
  animation: slideDown 15s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateX(-50%) translateY(-100%);
  }
  to {
    transform: translateX(-50%) translateY(100px);
  }
}

.welcome-screen {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content {
  background-color: rgb(255, 255, 204);
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(192, 192, 192);
  box-shadow: inset -2px -2px 0 rgb(255, 255, 255),
    inset 2px 2px 0 rgb(64, 64, 64), -4px -4px 0 rgb(255, 255, 255),
    4px 4px 0 rgb(64, 64, 64);
  position: absolute;
  top: 250px;
  left: 550px;
}

.close-button {
  position: absolute;

  right: 0px;
  width: 20px;
  height: 20px;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(128, 128, 128);
  box-shadow: inset -2px -2px 0 rgb(255, 255, 255),
    inset 2px 2px 0 rgb(64, 64, 64);
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
  color: black;
}

.close-button:hover {
  background-color: rgb(200, 200, 200);
}

.footer {
  background-color: rgb(195, 195, 195);
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.start-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(64, 64, 64);
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.start-button img {
  height: 25px;
}

.start-button:hover {
  background-color: rgb(200, 200, 200);
}

.clock {
  font-size: 14px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin-right: 15px;
}
